@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid rgb(6, 218, 255) 2px;
    padding-right: 15px;
}

.list ul {
    display: flex;
    list-style: none;
    gap: 55px;
    font-weight: 500;
}

ul li {
    cursor: pointer;
}

.list li:hover {
    color: gray;
}